
*{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:Gainsboro;
    color: white;
}

.nav-links{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
