.column {
    float: left;
    padding: 10px;
    height: 300px; 
  }

  .left {
    width: 30%;
    margin-top: 40px;
  }
  
  .right {
    width: 70%;
    height: 965px;
    background: #245463;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.entire-form-container{
    background: #23a6d5;
    margin-left: 600px;
}

.calendar{
    margin-top: 50px;
    margin-left: 70px;
}

.body{
    background: crimson;
}

.yt{
  margin-left: 40px;
}

/* REFLECTIONS */

.reflection-container{
  margin-top: 30px;
  background: white;
  height: 585px;
  overflow: scroll;
  width: 600px;
}

.reflection-div{
  margin-left: 140px;
}

.reflection-header{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 40px;
}