.subj-date-header{
    font-size: 15px;
    text-indent: 560px;
    word-spacing: 250px;
    margin-top: 8vh; 
}


.subject-date-container{
    width: 1000px;
    margin-left: 50vh;
}

.entries{
    height: 950px;
    overflow: scroll;
}

.subject{
    font-family: 'Times New Roman', serif;
    font-size: 25px;
}

.date{
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    line-height: .4;

}


.emotion{
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    line-height: .4;

}

.topic{
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    line-height: .4;

}

.mainbody{
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    line-height: .8;
}