.entry-header{
    font-size: 50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
/* .delete-entry{

}*/

/* .prompt-drop-down{

} */

/* .form-body{

} */

/* .entry-submit-button{

} */
/* 
.edit-button{

} */