.subj-date-header{
    font-size: 15px;
    text-indent: 560px;
    word-spacing: 250px;
    margin-top: 8vh; 
}

.subject-date-container{
    width: 900px;
    margin-left: 50vh;

}

.entry-buttons{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 15px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 13px;

}
