.login-form{
    padding-top: 5%;
    text-align: center;
}

body{
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(252, 176, 69, 1)5%, rgba(253, 29, 29, 1)100%);
}

.bg {
    animation:slide 15s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(131,58, 180, 1)0%, rgba(252, 72, 69)50%);
    bottom: 0;
    left: -50%;
    opacity: .2;
    position: fixed;
    right: -50%;
    top: 0;
    z-index:-1;
}

.bg2{
    animation-direction: alternate-reverse;
    animation-duration: 7s;
}

.bg3{
    animation-duration: 7s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-25%);

    }
}
/* .mirror-header{
    font-size: 80px;
    text-align: center;
    padding-top: 5%;
    text-shadow: 5px 10px 5px #191970;
    /* color: #191970; */
 

@supports (-webkit-text-stroke: 1px black) {
    .mirror-header {
        font-size: 100px;
        padding-top: 2%;
        text-align: center;
        text-shadow: 5px 10px 5px #191970;
        font-family: "Times New Roman", Times, serif;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
    }
  }

.signup-link{
    padding-top: 1%;
    text-align: center;
    list-style: none;
    align-items: center;
}

.login-button{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  input[type=password], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }


