.login-form{
    padding-top: 5%;
    text-align: center;
}

.mirror-header{
    font-size: 70px;
    text-align: center;
    padding-top: 2%;
}

.signup-link{
    padding-top: 1%;
    text-align: center;
    list-style: none;
    align-items: center;
}
