.mirror-logo{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-top: 1%;
    padding-left: 1%;
}

/* The links */
a {
    text-decoration: none;

}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: white;
    color: white;
}

.nav-links{
    width: 90%;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

